*{
    margin: 0;
    padding: 0;
}
.head{
	width: 1080px;
	height: 168px;
	background-color: #00A5C4;
}
.jisuanqi{
	line-height: 168px;
	color: #fff;
	font-weight: 300;
	margin-left: 50px;
	font-size: 53px;
	float: left;
}
.dian{
	width: 13px;
	height:53px;
	float: right;
	margin-top: 57.5px;
	margin-right: 65px;
}
.yuan{
	width: 13px;
	height: 13px;
	background-color: #fff;
	border-radius: 6.5px;
}
.yuan1{
	margin-top: 7px;
	margin-bottom: 7px;
}
.view{
	width: 1080px;
	height: 561px;
	background-color: #f0f0f0;
}
.view-right{
	width: 4px;
	height: 165px;
	background-color: #00a5c4;
	float: right;
	margin-top: 18px;
	margin-right:33px;
}
.lishi{
	width: 1080px;
	height: 102px;
	background-color: #dfe3e4;
	overflow: hidden;
}
.lishi-center{
	width: 64px;
	height: 31px;
	background-color: #ccc;
	margin: 0 auto;
	margin-top: 35px; 
}.jianpan{
	width: 1080px;
	height: 1089px;
	background-color:#ccc; 
}
.anniu{
	width: 265px;
	height: 214px;
	background-color: #fff; 
	float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 80px;
    font-weight: bolder;
    line-height: 214px;
    text-align: center;
    color: #00a5c4;

}
.anniu1{
	margin-right: 0;
}
.anniu2{
	width: 266px;
}
.anniu3{
	height: 209px;
}
.anniu4{
	color: #32626b;
}
.anniu5{
	color: #4bae50;
}